
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<form class="login-form">
    <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
    </p>
    <label>
        <input type="email" class="login-username" autofocus="autofocus" required="required" placeholder="Email" />
    </label>
    <label>
        <input type="password" class="login-password" required="required" placeholder="Password" />
    </label>
    <input type="submit" name="Login" value="Login" class="login-submit" />
</form>
<a href="#" class="login-forgot-pass">forgot password?</a>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>
</html>