<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/test.css">
</head>

<body>
<div class="container">
    <div class="card">
        <div class="inner-box" id="card">
            <div class="card-front">
                <h2>LOGIN</h2>
                <form action="">
                    <label>
                        <input type="email" class="input-box" placeholder="example@mail.com" required>
                    </label>
                    <label>
                        <input type="password" class="input-box" placeholder="Password" required>
                    </label>
                    <button type="submit" class="submit-btn">Submit</button>
                    <label>
                        <input type="checkbox">
                    </label>
                    <span>Remember Me</span>
                </form>
                <a href="signup" methods="get">
                    <button type="button" class="btn" >I'm New Here</button>
                </a>
                <a href="#">Forget Password</a>
            </div>
    </div>
</div>
</div>
</body>
</html>